.MuiButton-contained {
  background-color: #10b981;
}

.containerChat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.container::after {
  content: "";
  clear: both;
  display: table;
}

.time {
  color: #999;
}

.commentChat {
  display: block;
  word-break: break-all;
}
